/NopCommerce/Libraries/Nop.Core/bin

/NopCommerce/Libraries/Nop.Core/obj

/NopCommerce/Libraries/Nop.Data/bin

/NopCommerce/Libraries/Nop.Data/obj

/NopCommerce/Libraries/Nop.Services/bin

/NopCommerce/Libraries/Nop.Services/obj

/NopCommerce/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj

/NopCommerce/Plugins/Nop.Plugin.DiscountRules.HadSpentAmount/obj

/NopCommerce/Plugins/Nop.Plugin.ExternalAuth.OpenId/obj
/NopCommerce/Plugins/Nop.Plugin.Feed.Froogle/obj
/NopCommerce/Plugins/Nop.Plugin.Misc.FacebookShop/obj
/NopCommerce/Plugins/Nop.Plugin.Misc.WebServices/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.AuthorizeNet/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.CashOnDelivery/obj
/NopCommerce/Plugins/Nop.Plugin.DiscountRules.HasAllProducts/obj
/NopCommerce/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj
/NopCommerce/Plugins/Nop.Plugin.ExchangeRate.McExchange/obj
/NopCommerce/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
/NopCommerce/Plugins/Nop.Plugin.Tax.CountryStateZip/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.PayPalDirect/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.PayPalStandard/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.ByWeight/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.CanadaPost/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.Fedex/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.UPS/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.USPS/obj
/NopCommerce/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
/NopCommerce/Plugins/Nop.Plugin.Widgets.NivoSlider/obj
/NopCommerce/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
/NopCommerce/Plugins/Nop.Plugin.DiscountRules.HadSpentAmount/obj
/NopCommerce/Plugins/Nop.Plugin.Payments.Manual/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj
/NopCommerce/Plugins/Nop.Plugin.Shipping.FixedRateShipping/obj
/NopCommerce/Plugins/Nop.Plugin.SMS.Verizon/obj
/NopCommerce/Plugins/Nop.Plugin.Tax.FixedRate/obj
/NopCommerce/Presentation/Nop.Web/obj
/NopCommerce/Presentation/Nop.Web.Framework/bin
/NopCommerce/Presentation/Nop.Web.Framework/obj
/NopCommerce/Tests/Nop.Data.Tests/obj
/NopCommerce/Tests/Nop.Services.Tests/obj
/NopCommerce/Tests/Nop.Tests/obj
/NopCommerce/Tests/Nop.Web.MVC.Tests/obj
/NopCommerce/Tests/Nop.Core.Tests/obj
/NopCommerce/Tests/Nop.Data.Tests/bin
/NopCommerce/Tests/Nop.Services.Tests/bin
/NopCommerce/Tests/Nop.Tests/bin
/NopCommerce/Tests/Nop.Web.MVC.Tests/bin
/NopCommerce/Tests/Nop.Core.Tests/bin
/NopCommerce/Presentation/Nop.Web/Administration/Bin
/NopCommerce/Presentation/Nop.Web/Administration/obj
/NopCommerce/Presentation/Nop.Web/bin
/RuiCui/Presentation/Nop.Web.Framework/bin
/RuiCui/Presentation/Nop.Web.Framework/obj
/RuiCui/Presentation/Nop.Web/bin
/RuiCui/Presentation/Nop.Web/obj
/RuiCui/Presentation/Nop.Web/Administration/obj
/RuiCui/Libraries/Nop.Core/bin
/RuiCui/Libraries/Nop.Core/obj
/RuiCui/Libraries/Nop.Data/bin
/RuiCui/Libraries/Nop.Data/obj
/RuiCui/Libraries/Nop.Services/bin
/RuiCui/Libraries/Nop.Services/obj
/RuiCui/Tests/Nop.Tests/bin
/RuiCui/Tests/Nop.Services.Tests/bin
/RuiCui/Tests/Nop.Data.Tests/bin
/RuiCui/Tests/Nop.Core.Tests/bin
/RuiCui/Presentation/Nop.Web/Plugins/bin
/RuiCui/Presentation/Nop.Web/Administration/Bin
/RuiCui/Tests/Nop.Core.Tests/bin/Debug
/RuiCui/Tests/Nop.Tests/bin/Debug
/RuiCui/Tests/Nop.Services.Tests/bin/Debug
/RuiCui/Tests/Nop.Data.Tests/obj/Debug
/RuiCui/Tests/Nop.Web.MVC.Tests/obj/Debug
