@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoIndexRightModel
@{
    Layout = "";

}
@using System
@using Nop.Web.Framework.UI
<div class="home-cc-div"><a href="@Model.Link1">
    <img alt="@Model.Text1" src="@Model.Picture1Url" />
</a></div>