@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoIndexRightModel
@{
    Layout = "";

}
@using System
@using Nop.Web.Framework.UI

<div class="home-cc-div2"><a href="@Model.Link2">
    <img alt="@Model.Text2" src="@Model.Picture2Url" />
</a></div>