@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoStarModel
@{
    Layout = "";

}
@using System
@using Nop.Web.Framework.UI
<div class="home-new-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">明星单品</h3>
        </div>
        <div class="box-bd">
            <div class="row">
                <div class="brick-item brick-item-level">
                    <div class="item">
                        <div class="item-content-m">asdsa</div>
                    </div>
                    <div class="brick-item brick-item-last">
                        <div class="item2">
                            <div class="item-content-m">asdsa</div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-last">
                        <div class="item2">
                            <div class="item-content-m">asdsa</div>
                        </div>
                    </div>
                </div>
                <div class="brick-item brick-item-2">
                    <div class="item2">
                        <div class="item-content">asdsa</div>
                    </div>
                </div>
                <div class="brick-item brick-item-2">
                    <div class="brick-item brick-item-m">
                        <div class="item">
                            <div class="item-content-m">asdsa</div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-m">
                        <div class="item3">
                            <div class="item-content-m">asdsa</div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-m">
                        <div class="item2">
                            <div class="item-content-m">asdsa</div>
                        </div>
                    </div>
                    <div class="brick-item brick-item-m">
                        <div class="item-content-m">asdsa</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>