@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    Html.AppendCssFileParts("~/Themes/DefaultTheme/Content/css/main.css");
}
<script type="text/javascript">
    /*<![CDATA[*/
    navCategory = undefined;
    var isCategoryToggled = "toggled";
    var isSekillOpen = 1;
    var isCommentOpen = 1;
    /*]]>*/
</script>
<div class="row">
    <div class="col col-16 offset4">
        <div class="home-slider">
            @Html.Widget("home_page_top")
        </div>
        <div class="home-hd-show clearfix">
            <div class="hd-show-item hd-show-item-first">
                <a href="http://www.mi.com/buyphone/mi3"><img alt="3" src="http://img03.mifile.cn/webfile/images/g/2013/cn/index/xiao3.jpg" srcset="http://img03.mifile.cn/webfile/images/g/2013/cn/index/xiao2gaoqing.jpg 2x" /></a>
            </div>
            <div class="hd-show-item ">
                <a href="http://www.mi.com/buyphone/hongmi1s"><img alt="红米预售" src="http://img03.mifile.cn/webfile/images/g/2013/cn/index/hongmiyushou.jpg" srcset="http://img03.mifile.cn/webfile/images/g/2013/cn/index/hongmiRetina.jpg 2x" /></a>
            </div>
            <div class="hd-show-item ">
                <a href="http://hezi.mi.com/"><img alt="2" src="http://img03.mifile.cn/webfile/images/g/2013/cn/index/xiaomihezigaoqingtu330170.jpg" srcset="http://img03.mifile.cn/webfile/images/g/2013/cn/index/xiaomihezigaoqingtu660-340.jpg 2x" /></a>
            </div>
        </div>
    </div>
</div>

<div class="home-star-goods">
    <div class="xm-plain-box J_starGoodsCarousel">
        <div class="box-hd">
            <h3 class="title">小米明星单品</h3>
            <div class="more">
                <div class="xm-recommend-page clearfix">
                    <a class="page-btn-prev page-btn-prev-disabled iconfont J_carouselPrev" href="javascript: void(0);">&#xe604;</a><a class="page-btn-next iconfont J_carouselNext" href="javascript: void(0);">&#xe605;</a>
                </div>
            </div>
        </div>
        <div class="box-bd">
            <div class="xm-star-goods-list-wrap J_carouselWrap">
                <div class="xm-star-goods-list clearfix J_carouselList">
                    <div class="xm-star-goods-item">
                        <div class="item-content">
                            <span class="item-thumb">
                                <a href="http://www.mi.com/miwifi"><img src="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1kiWTBChT1RXrhCrK.jpg?width=220&height=220" srcset="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1kiWTBChT1RXrhCrK.jpg?width=440&height=440 2x" alt="小米路由器" /></a>
                            </span>
                            <span class="item-title"><a href="http://www.mi.com/miwifi">小米路由器</a></span>
                            <span class="item-desc">顶配双频AC智能路由器，内置1TB大硬盘</span>
                        </div>
                    </div>
                    <div class="xm-star-goods-item">
                        <div class="item-content">
                            <span class="item-thumb">
                                <a href="http://www.mi.com/dianyuan10400"><img src="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1oiVTBX_T1RXrhCrK.jpg?width=220&height=220" srcset="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1oiVTBX_T1RXrhCrK.jpg?width=440&height=440 2x" alt="小米10400mAh移动电源" /></a>
                            </span>
                            <span class="item-title"><a href="http://www.mi.com/dianyuan10400">小米10400mAh移动电源</a></span>
                            <span class="item-desc">LG/三星等高品质电芯，全铝合金金属外壳</span>
                        </div>
                    </div>
                    <div class="xm-star-goods-item">
                        <div class="item-content">
                            <span class="item-thumb">
                                <a href="http://huosai.mi.com/"><img src="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1ttJTBjWv1RXrhCrK.jpg?width=220&height=220" srcset="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1ttJTBjWv1RXrhCrK.jpg?width=440&height=440 2x" alt="小米活塞耳机" /></a>
                            </span>
                            <span class="item-title"><a href="http://huosai.mi.com/">小米活塞耳机</a></span>
                            <span class="item-desc">99元听歌神器，礼品级包装</span>
                        </div>
                    </div>
                    <div class="xm-star-goods-item">
                        <div class="item-content">
                            <span class="item-thumb">
                                <a href="http://www.mi.com/miniwifi"><img src="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1_.bTBvxT1RXrhCrK.jpg?width=220&height=220" srcset="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1_.bTBvxT1RXrhCrK.jpg?width=440&height=440 2x" alt="小米随身WIFI" /></a>
                            </span>
                            <span class="item-title"><a href="http://www.mi.com/miniwifi">小米随身WIFI</a></span>
                            <span class="item-desc">随身随时创建免费WiFi网络</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-star-goods END -->

<div class="home-new-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">新品上架</h3>
            <div class="more">
                <a class="more-link" href="http://www.mi.com/xinpin">更多<i class="iconfont">&#xe605;</i></a>
            </div>
        </div>
        <div class="box-bd">
            <div class="row">
                <div class="col col-15">
                    <div class="brick-list">
                        <div class="brick-item brick-item-l">
                            <div class="item">
                                <div class="item-content">
                                    <a href="http://www.mi.com/search_tee">
                                        <span class="item-thumb">
                                            <img src="http://img03.mifile.cn/webfile/images/g/2014/cn/index/521yifuhuodong.jpg" alt="tee活动" srcset="http://img03.mifile.cn/webfile/images/g/2014/cn/index/521yifuhuodongda.jpg 2x" />
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://s1.mi.com/zt/2014032804/index.html">米键</a></span>
                                        <span class="item-price">4.9元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://s1.mi.com/zt/2014032804/index.html"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1WqxTByVT1RXrhCrK.jpg?width=220&height=220" alt="米键" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1WqxTByVT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="brick-item brick-item-s">
                                <div class="item">
                                    <div class="item-content">
                                        <span class="item-info">
                                            <span class="item-title"><a href="http://www.mi.com/item/1142000008">足球版米兔</a></span>
                                            <span class="item-price">29元 </span>
                                        </span>
                                        <span class="item-thumb">
                                            <a href="http://www.mi.com/item/1142000008"><img src="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1fXZvBKbT1RXrhCrK.jpg?width=135&height=135" alt="足球版米兔" srcset="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1fXZvBKbT1RXrhCrK.jpg?width=270&height=270 2x" /></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="brick-item brick-item-s">
                                <div class="item">
                                    <div class="item-content">
                                        <span class="item-info">
                                            <span class="item-title"><a href="http://www.mi.com/item/1134900103">双口USB充电器</a></span>
                                            <span class="item-price">69元 </span>
                                        </span>
                                        <span class="item-thumb">
                                            <a href="http://www.mi.com/item/1134900103"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1ZydTBjJT1RXrhCrK.jpg?width=135&height=135" alt="双口USB充电器" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1ZydTBjJT1RXrhCrK.jpg?width=270&height=270 2x" /></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1141600002">二合一手机镜头</a></span>
                                        <span class="item-price">59元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1141600002"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1CACTBvJT1RXrhCrK.jpg?width=220&amp;height=220" alt="二合一手机镜头" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1CACTBvJT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1140800002">小米移动电源5200mAh银色</a></span>
                                        <span class="item-price">49元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1140800002"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1p.VTBXdT1RXrhCrK.jpg?width=220&height=220" alt="小米移动电源5200mAh银色" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1p.VTBXdT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1142000033">小米3移动版足球系列背贴</a></span>
                                        <span class="item-price">39元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1142000033"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1cjAgByAT1RXrhCrK.jpg?width=220&height=220" alt="小米3移动版足球系列背贴" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1cjAgByAT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1134900438">QCY派Q8蓝牙耳机</a></span>
                                        <span class="item-price">88元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1134900438"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T11axTB_hT1RXrhCrK.jpg?width=220&height=220" alt="QCY派Q8蓝牙耳机" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T11axTB_hT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1141900057">红米Note亮彩高光后盖</a></span>
                                        <span class="item-price">59元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1141900057"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1odEvByAT1RXrhCrK.jpg?width=220&height=220" alt="红米Note亮彩高光后盖" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1odEvByAT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-5">
                    <div class="channel-section">
                        <ul class="channel-list">
                            <li id="J_secKillGoods">

                            </li>
                            <li>
                                <a href="http://www.mi.com/accessories/30">
                                    <span class="item-info">
                                        <span class="item-title">特惠配件套装</span>
                                        <span class="item-desc">手机必备配件组合购买<br />实惠更优惠</span>
                                    </span>
                                    <span class="item-thumb">
                                        <img src="http://img03.mifile.cn/webfile/images/2014/cn/index/channel-list-cool.jpg?ver=20140419" alt="" />
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://wan.mi.com/">
                                    <span class="item-info">
                                        <span class="item-title">我爱酷玩</span>
                                        <span class="item-desc">邂逅炫酷的电子产品<br />结交趣味相投的朋友</span>
                                    </span>
                                    <span class="item-thumb">
                                        <img src="http://img03.mifile.cn/webfile/images/2014/cn/index/channel-list-new.jpg?ver=20140419" alt="" />
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="recharge-section">
                        <h3>话费充值<span id="rechargeTips" class="xm-recharge-tips"></span></h3>
                        <form class="xm-recharge-form" action="#">
                            <fieldset class="xm-recharge-tel">
                                <input id="rechargeTel" type="tel" name="rechargeTel" placeholder="请输入手机号码" autocomplete="false" />
                            </fieldset>
                            <fieldset class="xm-recharge-amount">
                                <select name="rechargeAmount" id="rechargeAmount">
                                    <option id="amount100" value="100">100元</option>
                                    <option id="amount30" value="30">30元</option>
                                    <option id="amount50" value="50">50元</option>
                                </select>
                            </fieldset>
                            <fieldset class="xm-recharge-price">
                                <span class="fieldset-name">实付价格：</span>
                                <span id="rechargePrice" class="fieldset-text"><span>98.4</span>元起</span>
                            </fieldset>
                            <fieldset class="xm-recharge-submit">
                                <input id="rechargeBtn" class="btn btn-primary btn-recharge-submit  btn-block disabled" type="submit" value="立即充值" onclick="_hmt.push(['_trackEvent','首页', '首页_话费充值','首页_话费充值_立即充值']);" />
                            </fieldset>
                        </form>
                    </div>

                    <div class="news-section">
                        <h3>新闻公告</h3>
                        <ul>
                            <li class="first"><a href="http://hd.mi.com/webfile/zt/hd/2014042502/index.html"><span class="dot">&middot;</span>领取48小时购机补偿<i class="iconfont">&#xe605;</i></a></li>
                            <li><a href="http://qiye.xiaomi.com/"><span class="dot">&middot;</span>企业用户采购通道<i class="iconfont">&#xe605;</i></a></li>
                            <li><a href="http://order.mi.com/misc/checkindex"><span class="dot">&middot;</span>小米手机防伪查询<i class="iconfont">&#xe605;</i></a></li>
                            <li><a href="http://www.mi.com/static/re"><span class="dot">&middot;</span>小米手机官翻版<i class="iconfont">&#xe605;</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-new-goods END -->

<div class="home-hot-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">大家都喜欢</h3>
        </div>
        <div class="box-bd">
            <div class="row">
                <div class="col col-15">
                    <div class="brick-list">
                        <div class="brick-item brick-item-l">
                            <div class="item">
                                <div class="item-content">
                                    <a href="http://www.mi.com/item/1134900389">
                                        <span class="item-thumb">
                                            <img src="http://img03.mifile.cn/webfile/images/g/2013/cn/index/xiaogangpshoutu2.jpg" alt="小米小钢炮蓝牙音箱" srcset="http://img03.mifile.cn/webfile/images/g/2013/cn/index/xiaogangpaogaoqingtu2.jpg 2x" />
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1134900439">铁三角CLR100耳机</a></span>
                                        <span class="item-price">118元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1134900439"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T15RxTBbWT1RXrhCrK.jpg?width=220&height=220" alt="铁三角CLR100耳机" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T15RxTBbWT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1141300055">米兔抱枕-为人民服务</a></span>
                                        <span class="item-price">49元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1141300055"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1.AVTByDT1RXrhCrK.jpg?width=220&height=220" alt="米兔抱枕-为人民服务" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1.AVTByDT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1141300086">森海塞尔MX365耳机</a></span>
                                        <span class="item-price">169元 <del>189元</del></span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1141300086"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T16xCTBCDT1RXrhCrK.jpg?width=220&height=220" alt="森海塞尔MX365耳机" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T16xCTBCDT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="brick-item brick-item-m">
                            <div class="item">
                                <div class="item-content">
                                    <span class="item-info">
                                        <span class="item-title"><a href="http://www.mi.com/item/1134700002">小米3至简翻盖支架保护套</a></span>
                                        <span class="item-price">69元 </span>
                                    </span>
                                    <span class="item-thumb">
                                        <a href="http://www.mi.com/item/1134700002"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1QahTBTCT1RXrhCrK.jpg?width=220&height=220" alt="小米3至简翻盖支架保护套" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1QahTBTCT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-5">
                    <div class="board-section">
                        <h3><span>HOT</span>热销商品排行</h3>
                        <ul class="board-list">
                            <li class="top">
                                <span class="item-info">
                                    <span class="item-title"><a href="http://www.mi.com/huosai-jianzhuang">小米活塞耳机简装版</a></span>
                                    <span class="item-price">49元 </span>
                                </span>
                                <span class="item-thumb">
                                    <a href="http://www.mi.com/huosai-jianzhuang"><img src="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1y0JTBy_T1RXrhCrK.jpg?width=70&height=70" alt="小米活塞耳机简装版" srcset="http://img06.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1y0JTBy_T1RXrhCrK.jpg?width=140&height=140 2x" /></a>
                                </span>
                                <span class="item-num">1</span>
                            </li>
                            <li class="top">
                                <span class="item-info">
                                    <span class="item-title"><a href="http://www.mi.com/item/1135000450">红米能量套装</a></span>
                                    <span class="item-price">80元 <del>98元</del></span>
                                </span>
                                <span class="item-thumb">
                                    <a href="http://www.mi.com/item/1135000450"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1KRhTBQKT1RXrhCrK.jpg?width=70&height=70" alt="红米能量套装" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1KRhTBQKT1RXrhCrK.jpg?width=140&height=140 2x" /></a>
                                </span>
                                <span class="item-num">2</span>
                            </li>
                            <li class="top">
                                <span class="item-info">
                                    <span class="item-title"><a href="http://www.mi.com/item/1134900515">SanDisk 8GB存储卡</a></span>
                                    <span class="item-price">24.9元 </span>
                                </span>
                                <span class="item-thumb">
                                    <a href="http://www.mi.com/item/1134900515"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1tRJTBjAv1RXrhCrK.jpg?width=70&height=70" alt="SanDisk 8GB存储卡" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1tRJTBjAv1RXrhCrK.jpg?width=140&height=140 2x" /></a>
                                </span>
                                <span class="item-num">3</span>
                            </li>
                            <li>
                                <span class="item-info">
                                    <span class="item-title"><a href="http://www.mi.com/item/1134900473">小米2/2S高光后盖</a></span>
                                    <span class="item-price">39元 </span>
                                </span>
                                <span class="item-thumb">
                                    <a href="http://www.mi.com/item/1134900473"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1JtxTBgAT1RXrhCrK.jpg?width=70&amp;height=70" alt="小米2/2S高光后盖" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1JtxTBgAT1RXrhCrK.jpg?width=140&height=140 2x" /></a>
                                </span>
                                <span class="item-num">4</span>
                            </li>
                            <li>
                                <span class="item-info">
                                    <span class="item-title"><a href="http://www.mi.com/item/1134700030">小米3普通高透贴膜</a></span>
                                    <span class="item-price">19元 </span>
                                </span>
                                <span class="item-thumb">
                                    <a href="http://www.mi.com/item/1134700030"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1kyhTBj_v1RXrhCrK.jpg?width=220&amp;height=220" alt="小米3普通高透贴膜" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1kyhTBj_v1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                                </span>
                                <span class="item-num">5</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-hot-goods END -->

<div class="home-commented-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">热评产品</h3>
        </div>
        <div class="box-bd">
            <div class="xm-commented-goods-list-wrap">
                <div class="xm-commented-goods-list clearfix">
                    <div class="xm-commented-goods-item J_commentedGoods" data-cid="2141300049">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.mi.com/item/1141300053">简约收纳袋大号</a></span>
                                <span class="item-meta"></span>
                                <span class="item-price">4.9元 </span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1141300053"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1TOVTBCAT1RXrhCrK.jpg?width=220&amp;height=220" alt="简约收纳袋大号" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1TOVTBCAT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                            <span class="item-comment">布袋做工特别好，尺寸加大之后，移动电源、手机都可以放进去~</span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item J_commentedGoods" data-cid="2134900526">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.mi.com/item/1134900463">TP-LINK TL-WR842N 300M无线路由器</a></span>
                                <span class="item-meta"></span>
                                <span class="item-price">89元 </span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1134900463"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1schTB_Av1RXrhCrK.jpg?width=220&amp;height=220" alt="TP-LINK TL-WR842N 300M无线路由器" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1schTB_Av1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                            <span class="item-comment">安装很方便，信号也很强，比同价位路由器好太多！</span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item J_commentedGoods" data-cid="2141500042">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.mi.com/item/1141500033">安卓机器人集线器</a></span>
                                <span class="item-meta"></span>
                                <span class="item-price">9.9元 </span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1141500033"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1uJZTB4LT1RXrhCrK.jpg?width=220&amp;height=220" alt="安卓机器人集线器" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1uJZTB4LT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                            <span class="item-comment">可爱死了~缠在耳机上，萌到受不了呀</span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item J_commentedGoods" data-cid="2134900086">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.mi.com/item/1134900077">红米磨砂防划贴膜（2片装）</a></span>
                                <span class="item-meta"></span>
                                <span class="item-price">19元 </span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1134900077"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1laZTBjhT1RXrhCrK.jpg?width=220&amp;height=220" alt="红米磨砂防划贴膜（2片装）" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1laZTBjhT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                            <span class="item-comment">算上练习膜一共是三张，主要是好贴啊，一次成型，三张用三次，超级划算</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-commented-goods END -->

<div class="home-saleoff-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">特价产品</h3>
        </div>
        <div class="box-bd">
            <div class="home-saleoff-goods-list-wrap">
                <div class="home-saleoff-goods-list clearfix">
                    <div class="home-saleoff-goods-item">
                        <div class="item-content">
                            <span class="item-price"><i>228</i>元 <del>258 元</del></span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1140200007"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1gUhTBQxv1RXrhCrK.jpg?width=220&amp;height=220" alt="先锋SE-MJ522折叠式头戴耳机" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1gUhTBQxv1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="home-saleoff-goods-item">
                        <div class="item-content">
                            <span class="item-price"><i>39</i>元 <del>69元</del></span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1134900057"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1lyhTBQET1RXrhCrK.jpg?width=220&amp;height=220" alt="小米2S变形金刚保护套" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1lyhTBQET1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="home-saleoff-goods-item">
                        <div class="item-content">
                            <span class="item-price"><i>129</i>元 <del>178元</del></span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1141500020"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1lRhTB7dT1RXrhCrK.jpg?width=220&amp;height=220" alt="大电池全能套装" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1lRhTB7dT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="home-saleoff-goods-item">
                        <div class="item-content">
                            <span class="item-price"><i>99</i>元 <del>129元</del></span>
                            <span class="item-thumb">
                                <a href="http://www.mi.com/item/1135200017"><img src="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1ayxTBvbT1RXrhCrK.jpg?width=220&amp;height=220" alt="米兔移动电源" srcset="http://img08.mifile.cn/v1/MI_18455B3E4DA706226CF7535A58E875F0267/T1ayxTBvbT1RXrhCrK.jpg?width=440&height=440 2x" /></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-saleoff-goods END -->

<div class="home-commented-goods home-duokan-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">多看图书</h3>
            <div class="more">
                <a class="more-link" href="http://www.duokan.com/list/1-1?from=xiaomi" target="_blank">更多<i class="iconfont">&#xe605;</i></a>
            </div>
        </div>
        <div class="box-bd">
            <div class="xm-commented-goods-list-wrap">
                <div class="xm-commented-goods-list clearfix">
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.duokan.com/book/11132" target="_blank">《陆犯焉识》</a></span>
                                <span class="item-author">严歌苓</span>
                                <span class="item-price">1.99元</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.duokan.com/book/11132" target="_blank"><img src="http://img03.mifile.cn/webfile/images/duokan/lfyss.jpg" alt="《陆犯焉识》" srcset="http://img03.mifile.cn/webfile/images/duokan/lfysb.jpg 2x" /></a>
                            </span>
                            <span class="item-comment">张艺谋电影《归来》小说原著，《金陵十三钗》作者严歌苓颠覆转型之作。</span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.duokan.com/book/40567" target="_blank">《慢慢来，一切都来得及》</a></span>
                                <span class="item-author">meiya</span>
                                <span class="item-price">3.99元</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.duokan.com/book/40567" target="_blank"><img src="http://img03.mifile.cn/webfile/images/g/2013/cn/index/manmanlaixiao.jpg" alt="《慢慢来，一切都来得及》" srcset="http://img03.mifile.cn/webfile/images/g/2013/cn/index/manmanlai.jpg 2x" /></a>
                            </span>
                            <span class="item-comment">每个在城市中学习工作的人，都会被这本书深深的打动。允许自己慢慢来，才能重新上路。</span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.duokan.com/book/47819" target="_blank">《起风了》</a></span>
                                <span class="item-author">【日】堀辰雄</span>
                                <span class="item-price">1.99元</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.duokan.com/book/47819" target="_blank"><img src="http://img03.mifile.cn/webfile/images/duokan/qfls.jpg" alt="《起风了》" srcset="http://img03.mifile.cn/webfile/images/duokan/qflb.jpg 2x" /></a>
                            </span>
                            <span class="item-comment">宫崎骏同名动画电影之小说原著，日本新心理主义大师最高杰作。</span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://www.duokan.com/book/44847" target="_blank">《手机拍出好照片：挑战器材党》</a></span>
                                <span class="item-author">袁睿 刘祺</span>
                                <span class="item-price">1.99元</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://www.duokan.com/book/44847" target="_blank"><img src="http://img03.mifile.cn/webfile/images/duokan/sjpchzps.jpg" alt="《手机拍出好照片：挑战器材党》" srcset="http://img03.mifile.cn/webfile/images/duokan/sjpchzpb.jpg 2x" /></a>
                            </span>
                            <span class="item-comment">手机拍出好照片，风景、人像、旅行、节日通通适用！</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-duokan-goods END -->

<div class="home-commented-goods home-miui-goods">
    <div class="xm-plain-box">
        <div class="box-hd">
            <h3 class="title">MIUI 主题</h3>
            <div class="more">
                <a class="more-link" href="http://zhuti.xiaomi.com/?from=mi" target="_blank">更多<i class="iconfont">&#xe605;</i></a>
            </div>
        </div>
        <div class="box-bd">
            <div class="xm-commented-goods-list-wrap">
                <div class="xm-commented-goods-list clearfix">
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://zhuti.xiaomi.com/detail/c60a0f50-eeb4-4a0e-b665-2543bc529060" target="_blank">范二青年</a></span>
                                <span class="item-price">6米币</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://zhuti.xiaomi.com/detail/c60a0f50-eeb4-4a0e-b665-2543bc529060" target="_blank"><img src="http://img03.mifile.cn/webfile/images/miui/1.jpg" alt="范二青年" srcset="http://img03.mifile.cn/webfile/images/miui/1.jpg 2x" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://zhuti.xiaomi.com/detail/6c91d8f3-f227-4271-98d4-6aac058e8e8d" target="_blank">simple pro（极致锁屏）</a></span>
                                <span class="item-price">6米币</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://zhuti.xiaomi.com/detail/6c91d8f3-f227-4271-98d4-6aac058e8e8d" target="_blank"><img src="http://img03.mifile.cn/webfile/images/miui/2.jpg" alt="simple pro（极致锁屏）" srcset="http://img03.mifile.cn/webfile/images/miui/2.jpg 2x" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://zhuti.xiaomi.com/detail/d69751a0-39a1-4290-8bfa-5b4882a1e823" target="_blank">Malaysia</a></span>
                                <span class="item-price">0米币</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://zhuti.xiaomi.com/detail/d69751a0-39a1-4290-8bfa-5b4882a1e823" target="_blank"><img src="http://img03.mifile.cn/webfile/images/miui/3.jpg" alt="Malaysia" srcset="http://img03.mifile.cn/webfile/images/miui/3.jpg 2x" /></a>
                            </span>
                        </div>
                    </div>
                    <div class="xm-commented-goods-item">
                        <div class="item-content">
                            <span class="item-info">
                                <span class="item-title"><a href="http://zhuti.xiaomi.com/detail/d51babf5-e4c5-4a37-b395-ae1af1c12969" target="_blank">麦拉风-我是大儿童</a></span>
                                <span class="item-price">6米币</span>
                            </span>
                            <span class="item-thumb">
                                <a href="http://zhuti.xiaomi.com/detail/d51babf5-e4c5-4a37-b395-ae1af1c12969" target="_blank"><img src="http://img03.mifile.cn/webfile/images/miui/4.jpg" alt="麦拉风-我是大儿童" srcset="http://img03.mifile.cn/webfile/images/miui/4.jpg 2x" /></a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- .home-miui-goods END -->
