@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="product-date">
    <h4 class="product-time">
        <i class="iconfont font18">&#xe60b;</i>
        06/30 &nbsp; &nbsp; 星期二
    </h4>
</div>
<div class="xm-goods-list-wrap">
    <ul class="xm-goods-list clearfix">
        <li class="item-box product-width">
            <div class="xm-goods-item product-width" data-productid="64">
                <div class="item-thumb">
                    <a title="显示明细 璧美人 老坑冰种翡翠手镯阳绿飘花缅甸天然a货玉镯宽版女款带证书 " href="">
                        <img title="显示明细 璧美人 老坑冰种翡翠手镯阳绿飘花缅甸天然a货玉镯宽版女款带证书 " srcset="http://localhost:15536/content/images/thumbs/0000210_-a_125.png" src="http://localhost:15536/content/images/thumbs/0000210_-a_125.png" alt="图片 璧美人 老坑冰种翡翠手镯阳绿飘花缅甸天然a货玉镯宽版女款带证书 ">
                    </a>
                </div>
                <div class="item-info">
                    <h3 class="item-title">
                        <a href="">璧美人 老坑冰种翡翠手镯阳绿飘花缅甸天然a货玉镯宽版女款带证书 </a>
                    </h3>
                    <div class="item-price">
                        <del class="price old-price">¥4,600.00</del>
                        <span class="price actual-price">¥4,589.00</span>
                    </div>
                    <div class="item-star">
                        <a title="80分">
                            <span class="icon-stat icon-stat-4 "></span>
                        </a>
                        <span class="item-comments" style="display:none;">0 人评价</span>
                    </div>
                    <div class="item-actions">
                        <a class="btn btn-small btn-primary J_addCart" onclick="" href="">
                            <i class="iconfont font12 wcolor">&#xe620;</i>
                            购物车
                        </a>
                        <a class="btn btn-dake btn-small J_addFav" onclick="" data-productid="64" href="">
                            <i class="iconfont font12 wcolor">&#xe60e;</i>
                            收藏
                        </a>
                    </div>
                    <div class="item-flag"> </div>
                </div>
            </div>
        </li>

    </ul>
</div>